DB_CONNECTION=your_db_dialect # mysql, pgsql, etc.

DB_WRITE_HOST=host
DB_WRITE_PORT=port
DB_WRITE_DATABASE=database_name
DB_WRITE_USERNAME=username
DB_WRITE_PASSWORD=password

DB_READ_HOST=host
DB_READ_PORT=port
DB_READ_DATABASE=database_name
DB_READ_USERNAME=username
DB_READ_PASSWORD=password

MINIO_ENDPOINT=your_domain
MINIO_PORT=minio_port
MINIO_USE_SSL=true_or_false
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=your_bucket_name
MINIO_REGION=minio_region
MINIO_USE_PATH_STYLE=true_or_false

ENCRYPTION_KEY=your_32_bytes_hexadecimal_key
SERVER_PORT=your_server_port
FASTAPI_PORT=your_fastapi_port
PYTHON_API_URL=your_fastapi_url
AUTH_API_URL=your_auth_api_url
